.header {
  height: 70px;
  width: 93%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .homepage-title {
    height: 100%;
    color: #808282;
    margin-left: 250px;
  }

  .options {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}